.header {
    /* set background color to dark gray */
    background: $off-black;
    /* set font color to white */
    color: #fff;
    /* make some space between the header and the things below it */
    margin-bottom: $xl-size; /* 4.8rem is equivalent to 48px */
    /* add some space inside from the element border and the content */
    padding: $m-size 0;
}

.header__title {
    /* increase the font size of title */
    font-size: $l-size;
    /* remove space */
    margin: 0;

}

.header__subtitle {
    color: $off-white;
    font-size: $m-size;
    /* decrease the font weight of the subtitle */
    font-weight: 500;
    margin: 0;
}